body{
	background-color: white;
}
nav{
	text-align: center;
	font-size: 28px;
}
nav a{
	color: black;
	text-decoration: none;
}
footer{
	text-align: center;
	background-color: lightblue;
}
nav, footer, header, section{
	background-color: lightblue;
	border-radius: 20px;
}
img.competences{
	width: 15%;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 20px;
	background-color: white;
	padding: 4px;
}
a.projets img{
	width: 30%;
}
h2{
	text-align: center;
	font-size: 50px;
}
